[Unit]
Description=Hello World
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/home/pi/Documents/SloganOmatic/sendGPIO.sh
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
